{% extends 'base.html' %}
{% load staticfiles %}

{% block style %} 
<link rel="stylesheet" href="{% static 'css/home.css' %}">
<link rel="stylesheet" href="{% static 'css/annotations.css' %}">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
{% endblock %}

{% block body %}

<div class="container-fluid" style='margin-top: 30px; text-align: center'>
    <h2 style='margin-bottom: 40px'> Your Projects </h4>
    {% for proj in projs %}
    <a href="/annotate?pid={{proj.id}}"><h3>{{proj.name}}</h3></a>
    </br>
    {% endfor %}
</div>
{% endblock %}
